language: python

cache:
  pip: true
  timeout: 1000

services:
  - postgresql

python:
- '3.6'
- '3.7'
- '3.8'

os:
- linux

matrix:
  fast_finish: true
  allow_failures:
    - python: '3.6'


notifications:
  email: false

# repo branches to test
branches:
- master

install:
- pip install -U pip wheel --quiet
- pip install --upgrade setuptools --quiet
- pip install pytest
- pip install pytest-coverage
- pip install coveralls
- pip install .[all,dev]

script:
- pytest -p no:sugar tests --cov python/sdssdb --cov-report html

after_success:
- coveralls
