on:
  push:
    tags:
      - '*'

name: Create Release

jobs:
  build:
    name: Build wheels
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ['3.12']

    permissions:
      contents: write
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Create release
        uses: taiki-e/create-gh-release-action@v1
        with:
          title: sdssdb $version
          changelog: CHANGELOG.md
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'

      - name: Build source and dist
        run: |
          uv build

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
