name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Install Postgresql
        uses: ikalnytskyi/action-setup-postgres@v8
        with:
          username: postgres
        id: postgres

      - name: Install dependencies
        run: |
          uv sync --group dev

      - name: Test with pytest
        run: |
          uv run pytest -s
        env:
          PGSERVICE: ${{ steps.postgres.outputs.service-name }}
